 @model IEnumerable<Books.Domain.Entities.Category>
@{
    ViewData["Title"] = "Index";
}

 <div class="container-fluid p-3">
    <div class="row pt-4">
        <div class="col-12">
            <div class="col-6">
                <h2 class="text-primary">Category List</h2>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary" asp-controller="Category" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> &nbsp; New</a>
            </div>
        </div>
    </div>
    <br>
    <table class="row table table-striped w-100" >
        <thead>
            <tr>
                <th scope="col">
                    Name
                </th> 
                <th scope="col">
                    Order
                </th> 
                <th scope="col">
                     Created Date
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td width="30%">
                        @category.Name
                    </td>
                    <td width="30%">
                        @category.DisplayOrder
                    </td>
                    <td>
                        @category.CreatedDateTime
                    </td>
                    <td colspan="2" class="text-right">
                        <a class="btn btn-primary mx-2"asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id"
                        > <i class="bi bi-pencil-square"></i> Edit</a>
                        <a class="btn btn-danger mx-2"asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id"
                        > <i class="bi bi-trash-fill"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

