@model IEnumerable<Books.Domain.Entities.Product>

@{
    ViewData["Title"] = "Books";
    #pragma warning disable
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white" style="background:linear-gradient(to right, #6f444d 0%, #f6edb5 100%);">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Title                                    
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageUrl" alt="@item.Title" class="w-100 h-equal">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text"><b>Category: </b>@item.Category.Name</p>
                            <p class="card-text"><b>By: </b>@item.Author.FullName</p>
                            <p class="card-text"><b>Price:</b> <strike>@item.Price.ToString("0.00") kr</strike></p>
                            <p class="card-text"><b>As low as: </b>@((item.Price)/2) kr</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                           <div class ="row justify-content-sm-between">
                        
                                <a class="btn btn-success text-white" style="width:40%;"  
                                   asp-route-id="@item.Id">
                                <i class="bi bi-cart-plus"></i> Add to Cart</a>
                           
                    
                                <a class="btn btn-outline-primary" style="width:40%;" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                          
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

 